/* Background */ .chroma { background-color: #f8f8f8 }
/* Error */ .chroma .err {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #aa22ff; font-weight: bold }
/* KeywordConstant */ .chroma .kc { color: #aa22ff; font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: #aa22ff; font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: #aa22ff; font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: #aa22ff }
/* KeywordReserved */ .chroma .kr { color: #aa22ff; font-weight: bold }
/* KeywordType */ .chroma .kt { color: #00bb00; font-weight: bold }
/* NameAttribute */ .chroma .na { color: #606 }
/* NameBuiltin */ .chroma .nb { color: #aa22ff }
/* NameClass */ .chroma .nc { color: #0000ff }
/* NameConstant */ .chroma .no { color: #880000 }
/* NameDecorator */ .chroma .nd { color: #aa22ff }
/* NameEntity */ .chroma .ni { color: #999999; font-weight: bold }
/* NameException */ .chroma .ne { color: #d2413a; font-weight: bold }
/* NameFunction */ .chroma .nf { color: #00a000 }
/* NameLabel */ .chroma .nl { color: #a0a000 }
/* NameNamespace */ .chroma .nn { color: #0000ff; font-weight: bold }
/* NameTag */ .chroma .nt { color: #008; font-weight: bold }
/* NameVariable */ .chroma .nv { color: #b8860b }
/* LiteralString */ .chroma .s { color: #080 }
/* LiteralStringAffix */ .chroma .sa { color: #bb4444 }
/* LiteralStringBacktick */ .chroma .sb { color: #bb4444 }
/* LiteralStringChar */ .chroma .sc { color: #bb4444 }
/* LiteralStringDelimiter */ .chroma .dl { color: #bb4444 }
/* LiteralStringDoc */ .chroma .sd { color: #bb4444; font-style: italic }
/* LiteralStringDouble */ .chroma .s2 { color: #bb4444 }
/* LiteralStringEscape */ .chroma .se { color: #bb6622; font-weight: bold }
/* LiteralStringHeredoc */ .chroma .sh { color: #bb4444 }
/* LiteralStringInterpol */ .chroma .si { color: #bb6688; font-weight: bold }
/* LiteralStringOther */ .chroma .sx { color: #008000 }
/* LiteralStringRegex */ .chroma .sr { color: #bb6688 }
/* LiteralStringSingle */ .chroma .s1 { color: #bb4444 }
/* LiteralStringSymbol */ .chroma .ss { color: #b8860b }
/* LiteralNumber */ .chroma .m { color: #666666 }
/* LiteralNumberBin */ .chroma .mb { color: #666666 }
/* LiteralNumberFloat */ .chroma .mf { color: #666666 }
/* LiteralNumberHex */ .chroma .mh { color: #666666 }
/* LiteralNumberInteger */ .chroma .mi { color: #666666 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #666666 }
/* LiteralNumberOct */ .chroma .mo { color: #666666 }
/* Operator */ .chroma .o { color: #666666 }
/* OperatorWord */ .chroma .ow { color: #aa22ff; font-weight: bold }
/* Comment */ .chroma .c { color: #000088; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #000088; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #000088; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #000088; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #000088; font-weight: bold }
/* CommentPreproc */ .chroma .cp { color: #000088 }
/* CommentPreprocFile */ .chroma .cpf { color: #000088 }
/* GenericDeleted */ .chroma .gd { color: #a00000 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: #ff0000 }
/* GenericHeading */ .chroma .gh { color: #000080; font-weight: bold }
/* GenericInserted */ .chroma .gi { color: #00a000 }
/* GenericOutput */ .chroma .go { color: #888888 }
/* GenericPrompt */ .chroma .gp { color: #000080; font-weight: bold }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #800080; font-weight: bold }
/* GenericTraceback */ .chroma .gt { color: #0044dd }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #bbbbbb }
