/* Main page with stikky-footer */
html,body {
  height: 100%;
  background-image: url("blue-pattern-hexagonal.png");
  font-family: Tahoma,'Iranian Sans','DejaVu Sans','Noto Sans Arabic','Noto Kufi Arabic','Droid Arabic Kufi',sans-serif;
  /* The html and body elements cannot have any padding or margin. */
  direction: rtl;
}

/* Wrapper for page content to push down footer */
#wrap {
  padding-bottom: 50px;	
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -24px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

/* Navbar */
.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #3f51b5;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #303f9f;
}
.navbar-default .navbar-text {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a {
  color: #3f51b5;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #303f9f;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #303f9f;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #303f9f;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6b6b6b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #6b6b6b;
}
.navbar-default .navbar-link {
  color: #6b6b6b;
}
.navbar-default .navbar-link:hover {
  color: #6b6b6b;
}


/* Custom page CSS */
.container {
  width: auto;
  max-width: 960px;
  text-align: center;
  background-color: #ffffff;
  padding: 0px;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.32);
  	  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.32);
}

.container a {
  color: #3f51b5;
}
.container a:hover {
  color: #303f9f;
}
.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
.panel-default h4 {
  text-align: right;
  line-height: 24px;
  font-size: 22px;
}
.panel-default h5 {
  text-align: right;
  line-height: 30px;
  font-size: 18px;
}
.panel-default h6 {
  font-size: 15px;
}
.panel-default h4 a, h5 a {
  color: #3f51b5;
}
.panel-default h4 a:hover, h5 a:hover {
  color: #303f9f;
}
.panel{
  border-style: none;
  margin-bottom: -1px;
}
.panel-body {
  padding-top: -10px;
  text-align: left;
}
.social-links {
  display: block;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  animation: fade 1s ease 1s both;
  margin-bottom: -1px;
}
.social-links li {
  display: inline-block;
  padding: 5px;
  padding-top: 0;
  text-align: center;
}
.social-links li a {
  font-size: 20px;
  color: #000;
  padding: 10px;
  padding-bottom: 4px;
  transition: all .4s ease;
}
.social-links li a:hover {
  color: #000;
}
.avatar {
  padding-top: 5%;
}
.blog-post{
  padding-top: 15px;
}
.blog-title{
  padding-top: 2px;
}
.related-posts h4 {
  text-align: center;
}

.disqus {
  padding-bottom: 15px;
}
.blogpost{
  text-align: right;
  line-height: 30px;
  font-size: 18px;
}

/* Top navigation */

.topnav {
  overflow: hidden;
  padding: 4pt;
}

.topnav .menuItems
{
  float: right;
}

.topnav a {
  color: #3f51b5;
  text-align: center;
  padding: 7pt 8pt;
  text-decoration: none;
  font-size: 12pt;
  float: right;
}

.topnav .clickable {
	transition: 0.3s;
	background: none;
}

.topnav .clickable:hover {
	background-color: #eee;
}

.topnav .clickable:active {
	background-color: #9e9e9e;
	color: #e8eaf6;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.topnav .search-container {
	float: left;
	display: flex;
	max-width: 100%;
	width: auto;
	border-style: solid;
	border-color: blue;
	border-radius: 4px;
	border-width: thin;
	margin-top: 2pt;
}

.topnav .search-container form {
	max-width: 100%;
	flex-grow: 1;
	display: flex;
}

.topnav .search-container input[type=text] {
  padding: 4pt;
  font-size: 12pt;
  max-width: 100%;
  min-width: 60pt;
  border-style: none;
  background: none;
  flex-grow: 1;
}

.topnav .search-container button {
  float: left;
  padding: 2pt 7pt;
  background: none;
  border-style: none;
  cursor: pointer;
}

.topnav .search-container button.close {
	float: right;
	display: none;
	font-size: 14pt;
}

.topnav .expand-again {
	padding: 7pt 6pt;
	border-style: none;
	font-size: large;
	display: none;
	float: right;
	opacity: 0;
}


/* When screen width is equal to or less than 930 pixels, the search container drops down to the next line ,so let it to take entire width of the navigation bar*/
@media screen and (max-width: 960px) {
	.topnav .search-container {
    width: 100%;
    display:block;
    margin-top: 4pt;
	}
	
	.topnav .search-container form {
		width: 100%;
    	display:flex;
	}
	
	.topnav .search-container input[type=text] {
		flex-grow: 1;
	}
	
	.topnav .menuItems {
		display: "block";
	}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 620px) {

	.topnav .menuItems, .topnav .search-container, .topnav .expand-again
	{display: none;}

	.topnav a.icon {
		float: left;
		display: block;
	}

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    left: 4pt;
    top: 4pt;
  }
  
  .topnav.responsive a{
    float: none;
    display: block;
    text-align: right;
  }
  
  .topnav.responsive .search-container, .topnav.responsive .menuItems {
    display: block;
  }
  
  .topnav .search-container form {
		width: 100%;
    	display:flex;
	}
	
	.topnav .search-container input[type=text] {
		flex-grow: 1;
	}
}





/* Footer  */
.footer {
  text-decoration: none !important;
}
.text-muted {
	color: #6b6b6b;
}

ol{
	direction: ltr;
	text-align: left;
}

figure{
	text-align: center;
	margin-bottom: 24px;
	margin-top: 24px;
	max-width: 100%;
	}
	
figcaption{
	font-size: 14px;
	text-align: center;
}

img{max-width: inherit;}

.data-table {
	font-size: 14px;
	text-align: center;
}

.list-head-h3 {margin-top: 0px;padding-top: 20px;}

.banner{
	max-width: 100%;
	width: 932px;
	}
	
.formula{
	text-align: left;
	padding-left: 32px;
	float: none;
	width: 100%;
	direction: ltr;
}

.InlineFormula{
	font-family: "Times New Roman", Times, serif;
	direction: ltr;
}

pre{
	direction: ltr;
	text-align: left;
}

/*** Comments ***/

#isso-thread * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#isso-thread .isso-comment-header a {
    text-decoration: none;
}

#isso-thread {
    padding: 0;
    margin: 0;
}

#isso-thread > .isso-feedlink {
    float: right;
    padding-left: 1em;
}

#isso-thread > .isso-feedlink > a {
    font-size: 0.8em;
    vertical-align: bottom;
}

#isso-thread .textarea {
    min-height: 58px;
    outline: 0;
}

#isso-thread .textarea.placeholder {
    color: #757575;
}

#isso-root .isso-comment {
    max-width: 68em;
    padding-top: 0.95em;
    margin: 0.95em auto;
}
#isso-root .preview .isso-comment {
    padding-top: 0;
    margin: 0;
}
#isso-root .isso-comment:not(:first-of-type),
.isso-follow-up .isso-comment {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.isso-comment > div.avatar {
    display: block;
    float: left;
    width: 7%;
    margin: 3px 15px 0 0;
}
.isso-comment > div.avatar > svg {
    max-width: 48px;
    max-height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.isso-comment > div.text-wrapper {
    display: block;
}
.isso-comment .isso-follow-up {
    padding-left: calc(7% + 20px);
}
.isso-comment > div.text-wrapper > .isso-comment-header, .isso-comment > div.text-wrapper > .isso-comment-footer {
    font-size: 0.95em;
}
.isso-comment > div.text-wrapper > .isso-comment-header {
    font-size: 0.85em;
}
.isso-comment > div.text-wrapper > .isso-comment-header .spacer {
    padding: 0 6px;
}
.isso-comment > div.text-wrapper > .isso-comment-header .spacer,
.isso-comment > div.text-wrapper > .isso-comment-header a.permalink,
.isso-comment > div.text-wrapper > .isso-comment-header .note,
.isso-comment > div.text-wrapper > .isso-comment-header a.parent {
    color: gray !important;
    font-weight: normal;
    text-shadow: none !important;
}
.isso-comment > div.text-wrapper > .isso-comment-header .spacer:hover,
.isso-comment > div.text-wrapper > .isso-comment-header a.permalink:hover,
.isso-comment > div.text-wrapper > .isso-comment-header .note:hover,
.isso-comment > div.text-wrapper > .isso-comment-header a.parent:hover {
    color: #606060 !important;
}
.isso-comment > div.text-wrapper > .isso-comment-header .note {
    float: right;
}
.isso-comment > div.text-wrapper > .isso-comment-header .author {
    font-weight: bold;
    color: #555;
}
.isso-comment > div.text-wrapper > .textarea-wrapper .textarea,
.isso-comment > div.text-wrapper > .textarea-wrapper .preview {
    margin-top: 0.2em;
}
.isso-comment > div.text-wrapper > div.text p {
    margin-top: 0.2em;
}
.isso-comment > div.text-wrapper > div.text p:last-child {
    margin-bottom: 0.2em;
}
.isso-comment > div.text-wrapper > div.text h1,
.isso-comment > div.text-wrapper > div.text h2,
.isso-comment > div.text-wrapper > div.text h3,
.isso-comment > div.text-wrapper > div.text h4,
.isso-comment > div.text-wrapper > div.text h5,
.isso-comment > div.text-wrapper > div.text h6 {
    font-size: 130%;
    font-weight: bold;
}
.isso-comment > div.text-wrapper > div.textarea-wrapper .textarea,
.isso-comment > div.text-wrapper > div.textarea-wrapper .preview {
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    box-shadow: 0 0 2px #888;
}
.isso-comment > div.text-wrapper > .isso-comment-footer {
    font-size: 0.80em;
    color: gray !important;
    clear: left;
}
.isso-feedlink,
.isso-comment > div.text-wrapper > .isso-comment-footer a {
    font-weight: bold;
    text-decoration: none;
}
.isso-feedlink:hover,
.isso-comment > div.text-wrapper > .isso-comment-footer a:hover {
    color: #111111 !important;
    text-shadow: #aaaaaa 0 0 1px !important;
}
.isso-comment > div.text-wrapper > .isso-comment-footer > a {
    position: relative;
    top: .2em;
}
.isso-comment > div.text-wrapper > .isso-comment-footer > a + a {
    padding-left: 1em;
}
.isso-comment > div.text-wrapper > .isso-comment-footer .votes {
    color: gray;
}
.isso-comment > div.text-wrapper > .isso-comment-footer .upvote svg,
.isso-comment > div.text-wrapper > .isso-comment-footer .downvote svg {
    position: relative;
    top: .2em;
}
.isso-comment .isso-postbox {
    margin-top: 0.8em;
}
.isso-comment.isso-no-votes span.votes {
    display: none;
}

.isso-postbox {
    max-width: 68em;
    margin: 0 auto 2em;
    clear: right;
}
.isso-postbox > .form-wrapper {
    display: block;
    padding: 0;
}
.isso-postbox > .form-wrapper > .auth-section,
.isso-postbox > .form-wrapper > .auth-section .post-action {
    display: block;
}
.isso-postbox > .form-wrapper .textarea,
.isso-postbox > .form-wrapper .preview {
    margin: 0 0 .3em;
    padding: .4em .8em;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.isso-postbox > .form-wrapper .textarea.invalid {
	background-color: #ffdddd;
}
.isso-postbox > .form-wrapper input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    margin-left: 0;
}
.isso-postbox > .form-wrapper .notification-section {
    font-size: 0.90em;
    padding-top: .3em;
}
#isso-thread .textarea:focus,
#isso-thread input:focus {
    border-color: rgba(0, 0, 0, 0.8);
}
.isso-postbox > .form-wrapper > .auth-section .input-wrapper {
    display: inline-block;
    position: relative;
    max-width: 25%;
    margin: 0;
}
.isso-postbox > .form-wrapper > .auth-section .input-wrapper input {
    padding: .3em 10px;
    max-width: 100%;
    border-radius: 3px;
    background-color: #fff;
    line-height: 1.4em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* Mark input boxes that gets an error on validation: 
*/
.isso-postbox > .form-wrapper > .auth-section .input-wrapper > input.invalid {
	background-color: #ffdddd;
}

.isso-postbox > .form-wrapper > .auth-section .post-action {
    display: inline-block;
    margin-right: 8px;
    margin-top: 8px;
}
.isso-postbox > .form-wrapper > .auth-section .post-action > input {
    padding: calc(.3em - 1px);
    border-radius: 2px;
    border: 1px solid #00C;
    background-color: #3f51b5;
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;
    outline: 0;
    line-height: 1.4em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    min-width: 6em;
}
.isso-postbox > .form-wrapper > .auth-section .post-action > input:hover {
    background-color: #303f9f;
}
.isso-postbox > .form-wrapper > .auth-section .post-action > input:active {
    background-color: #1a237e;
}
.isso-postbox > .form-wrapper .preview,
.isso-postbox > .form-wrapper input[name="edit"],
.isso-postbox.preview-mode > .form-wrapper input[name="preview"],
.isso-postbox.preview-mode > .form-wrapper .textarea {
    display: none;
}
.isso-postbox.preview-mode > .form-wrapper .preview {
    display: block;
}
.isso-postbox.preview-mode > .form-wrapper input[name="edit"] {
    display: inline;
}
.isso-postbox > .form-wrapper .preview {
    background-color: #f8f8f8;
    background: repeating-linear-gradient(
        -45deg,
        #f8f8f8,
        #f8f8f8 10px,
        #fff 10px,
        #fff 20px
    );
}
.isso-postbox > .form-wrapper > .notification-section {
    display: none;
    padding-bottom: 10px;
}
@media screen and (max-width:600px) {
    .isso-postbox > .form-wrapper > .auth-section .input-wrapper {
        display: block;
        max-width: 100%;
        margin: 0 0 .3em;
    }
    .isso-postbox > .form-wrapper > .auth-section .input-wrapper input {
        width: 100%;
    }
}

/****************** Parts of Font Awesome used in the website ***********************/
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
  url('../fonts/fontawesome-webfont.woff2') format('woff2'),
  url('../fonts/fontawesome-webfont.woff') format('woff'),
  url('../fonts/fontawesome-webfont.ttf') format('truetype'),
  url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-bars:before {
  content: "\f0c9";
}

.fa-search:before {
	content: "\f002"
}


