{{ define "specific title" }}
	{{- $section := .Section -}}
	{{- range .Site.Menus.main -}}{{- if eq $section .Identifier -}}{{- .Title -}}{{- end -}}{{- end -}}
{{ end }}

{{- define "title" -}}
	{{- block "specific title" . -}}{{- end -}}{{- " | " -}}{{- .Site.Title -}}
{{- end -}}

{{ define "main" }}
    <div id="wrap">
      {{ partial "header" . }}
      <div class="container" id="mainPageContainer">
        <h3 class="list-head-h3">{{- block "specific title" . -}}{{- end -}}</h3>
          <div class="panel panel-default">
            <div class="panel-body">
            {{ range (.Paginate .Data.Pages.ByPublishDate).Pages }}
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <h5 style="text-align: left">
                    <script type="text/javascript">document.write(convertDateStringToShamsi('{{ .Date.Format "2006-1-2" }}'));</script><noscript>{{ .Date.Format "2006-1-2" }}</noscript>
                  </h5>
                 </div>
                 <div class="col-sm-8 col-md-8 col-lg-8">
                   <h5 style="text-align: right">
                    <strong><a href="{{ .RelPermalink }}index.html">{{ .Title | markdownify }}</a></strong>
                  </h5>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12"><p style="direction: rtl;text-align: right"><small>{{ .Params.description }}</small></p></div>
              </div> <!-- row -->
            {{ end }}
            {{ partial "pagination.html" . }}
            </div>
          </div>
      </div>
    </div>
{{ end }}
