<footer>
  <div id="footer" style="margin-bottom: 8px;">
    <div class="container">
      <p style="direction: ltr;margin: -1px 0 -1px;padding: 10px;">&copy; Babak Razmjoo<br/>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br/>
	Powered by <a href="https://gohugo.io/">Hugo</a> and
      <a href="http://www.github.com/nurlansu/hugo-sustain/">sustain</a> with ♥<br/>
      Background Designed by <a href="http://www.freepik.com">Starline / Freepik</a><br/>
Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></br>
	<a href="{{.Site.Params.rootPath}}/about/javascripts/index.html" rel="jslicense" data-jslicense="1">JavaScript license information</a></p>
    </div>
  </div>
</footer>
<div class="footer"></div>
