<nav class="navbar navbar-default">
  <div class="navbar container" style="margin-bottom: 0px;border-radius: 0px;">
  	<img class="banner" src="{{ .Site.Params.rootPath }}/images/banner.png"/>
  	
    <div class="topnav" id="myTopnav">

	<a class="home clickable" id="homeButton" href="{{ .Site.BaseURL }}/index.html"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 59.365 59.365" style="enable-background:new 0 0 59.365 59.365;" xml:space="preserve" width="16px" height="16px"><path d="M58.363,26.632l-9.681-8.989V6.365h-8v3.849L29.682,0L1.002,26.632c-0.404,0.376-0.428,1.009-0.052,1.414  c0.375,0.404,1.008,0.427,1.414,0.052l4.319-4.011v3.278v32h16V35.302c0-1.07,0.867-1.937,1.937-1.937h10.126  c1.07,0,1.937,0.867,1.937,1.937v24.063h16v-32v-3.278l4.319,4.011c0.192,0.179,0.437,0.267,0.681,0.267  c0.269,0,0.536-0.107,0.732-0.319C58.791,27.641,58.767,27.008,58.363,26.632z" fill="#3f51b5"/></svg>صفحهٔ نخست</a>

	<div class="menuItems" id="menuItems">
      {{ if .Site.Menus.main }}
        {{ range sort .Site.Menus.main }}
        <a href="{{ .URL }}" class="clickable">{{ .Title | upper }}</a>
        {{ end }}
      {{ end }}
    </div>
    
    <button id="btnExpanMenuBar" type="button" class="clickable expand-again" onclick="topNavController.onExpandMenuBarButtonClick()">&gt;</button>
    
    <div class="search-container" id="searchBar">
    	<form action="javascript:void topNavController.onSearchAction()">
    		<button type="button" id="btnClearSearch" class="close clickable" onclick="topNavController.onClearSearchFieldClick()">×</button>
      		<input type="text" id="searchField" placeholder="جستجو" name="search" onfocus="topNavController.onSearchFieldFocused()"/>
      		<button type="submit" class="clickable"><i class="fa fa-search"></i></button>
    	</form>
  	</div>
    
	<a href="javascript:void(0);" class="icon" onclick="toggleResponsiveForTopNav()">
    	<i class="fa fa-bars"></i>
  	</a>
    </div><!-- End on myTopnav -->
    </div>
</nav>
