<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<!-- Global JS code for all pages -->
<script src="{{ $.Site.Params.rootPath }}/js/main.js"></script>

<script>
	setupTopNavigation("searchBar", "menuItems", "btnExpanMenuBar", "btnClearSearch", "searchField",
		document.getElementById("myTopnav").offsetWidth - document.getElementById("homeButton").offsetWidth-16,
		"mainPageContainer","{{ $.Site.Params.rootPath }}/sitemap.xml");
</script>

{{- range .Site.Params.custom_js -}}
<script src="{{ $.Site.Params.rootPath }}/js/{{ . }}{{ ".js" }}"></script>
{{ end }}

{{- range .Params.custom_js -}}
<script src="{{ $.Site.Params.rootPath }}/js/{{ . }}{{ ".js" }}"></script>
{{ end }}

{{ if .Params.UsesMath }}
<script type="text/javascript">if(!(navigator.userAgent.indexOf("Chrome/24",0)>-1||navigator.userAgent.indexOf("Firefox/")>-1))
document.write('<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=MML_CHTML"></' + 'script>');</script>
{{ end }}


