	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="بابک رزمجو"/>
    {{ if .Params.description }}
    <meta name="description" content="{{ .Params.description }}"/>
    {{ else }}{{ if .Site.Params.description }}
    <meta name="description" content="{{ .Site.Params.description }}"/>
    {{ end }}{{ end }}
    <meta Content-math-Type="text/mathml"/>
   	{{ template "_internal/opengraph.html" . }}
   	{{ hugo.Generator }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.Params.rootPath }}/images/favicon.ico">
