	<link rel="stylesheet" href="{{ .Site.Params.rootPath }}/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ .Site.Params.rootPath }}/css/main.css" />
    {{- if .Params.containsCode -}}
    <link rel="stylesheet" href="{{ .Site.Params.rootPath }}/css/highlight.css">
    {{ end }}
    {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ $.Site.Params.rootPath}}/{{ . }}"/>
    {{ end }}
