{{ define "main" }}
    <div id="wrap">
      {{ partial "header" . }}
      <div class="container">
      <div class="container-internal" id="mainPageContainer">
        <div class="page-not-found">
          <h1 class="list-head-h3" style="text-shadow: 3px 2px black;font-size: 80px;">404</h1>	
          <h3>چنین صفحه ای موجود نیست</h3>
          <h3>Page not found</h3>
          <h3>Seite nicht gefunden</h3>
          <h3 style="margin-bottom: 0px;padding-bottom: 10px">ページが見つかりません</h3>
        </div>
      </div>
      </div>
    </div>
{{ end }}
