{{ define "main" }}
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container" id="mainPageContainer">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.Params.rootPath }}/{{ .Site.Params.avatar }}" alt="عکس پرسنلی بابک رزمجو">
        </div>
        <h1>{{ .Site.Title }}</h1>
        <h3>اینجانب <strong>بابک رزمجو</strong>، مهندس نرم افزار هستم.</h3>
        <h3>من به علوم رایانه ، ریاضیات و زیست شناسی علاقه دارم.</h3>
        <h3>نگاهی به <a href="{{ .Site.Params.rootPath }}/projects/index.html"> پروژه های</a> من بیاندازید.</h3>
        <h3>همچنین <a href="{{ .Site.Params.rootPath }}/resume/index.html">رزومهٔ</a> آکادمیک و حرفه ای مرا مشاهده کنید.</h3>
        <h3>از طریق <a href="mailto:{{ .Site.Params.Social.Email }}">ایمیل</a> با من تماس بگیرید.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
{{ end }}
